<h1 class="title is-1">Welcome to Video Games Collection</h1>

<p>This is a collection of awesome video games.</p>

<ul>
    <li><%= link_to "Explore Games", games_path %></li>
    <li><%= link_to "Explore Development Teams", teams_path%></li>
    <li><%= link_to "Explore Game Genres", genres_path%></li>
</ul>