<nav class="navbar is-white">
<div class="navbar-menu">
    <div class="navbar-start">

      

      <a class="navbar-item">
        <%= link_to 'About', about_path %>
      </a>

      <a class="navbar-item">
        <%= link_to 'Games', games_path %>
      </a>

      <a class="navbar-item">
        <%= link_to 'Teams', teams_path %>
      </a>

      <a class="navbar-item">
       <%= link_to 'Genres', genres_path %>
      </a>

      </div>
    </div>
</nav>